

.search-box {
    position: relative;
    @apply h-[17.5rem] mt-[6rem];

    .clear-bt {
        position: absolute;
        top: 82px;
        right: -0.8rem;
        @apply w-[1.5rem] h-[1.5rem]  flex justify-center items-center;
        background-color:  #ffff;
     }
}